* {
    margin: 0;
    padding: 0;
}
body {
    background-color: cornsilk;
}
.header {
    background-color: moccasin;
    padding: 5px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
h1 {
    padding: 5px 30px;
    margin: 2px;
    border: 5px solid white;
    height: 40px;
    display: inline-block;
    font-family: fantasy;
    color: brown;
    overflow: hidden;
    transition: width 1s, height 1s;
  }
h1:hover {
    width: 280px;
    height: 150px;
  }
.header span {
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.banner {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
.banner h2 {
    font-size: 40px;
  }
.banner span {
    font-size: 30px;
  }
.welcome {
    background-color: bisque;
    color: brown;
    padding: 30px;
    position: absolute;
    left: 10%;
    top: 30%;
}
.center {
    height: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
li {
    display: inline; 
    margin: 0 80px;
    padding: 5px;
    border: 2px solid lightcoral;
    border-radius: 20px;
    background-color:wheat;
    font-weight: bold;
}
li:hover {
    font-style:oblique;
    background-color: red;
}
a {
    text-decoration: none;
  }
.intro {
    margin-left: 100px;
    margin-right: 100px;
    width: 80%;
}
.intro h2 {
    font-size: 40px;
}
table {
    width: 70%;
    margin:0px auto;
    text-align: center;
}
.smallpic {
    height: 200px;
}
.smallpic:hover{
    /* -webkit-transform: scale(1.3); */
    transform: scale(1.3);
}
.underline {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin: 5px 0px;
}
.textcenter {
    text-align: center;
    margin: 5px 0px;
}
.footer {
    background-color: moccasin;
    padding: 20px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}
